html, head, body {
  height: 100%;
  width: 100%;
}

#app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.board {
  display: inline-block;
}

.card {
  border-radius: 5px;
  box-shadow: 1px 1px 10px gray;
  display: inline-block;
  height: 280px;
  margin: 10px;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 280px;
}

.card figure {
  align-items: center;
  backface-visibility: hidden;
  border-radius: inherit;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 100%;
}

.card figure span {
  color: white;
  font-family: Impact;
  font-size: 48px;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.card .front {
  background-color: #c16;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
  background-size: 50px 50px;
  transform: rotateY(180deg);
}

.card .back {
}

.card .cake {
  background-image: url("/img/cake.crop.jpg");
}

.card .chocolate {
  background-image: url("/img/chocolate.crop.jpg");
}

.card .cookies {
  background-image: url("/img/cookies.crop.jpg");
}

.card .peppermint {
  background-image: url("/img/peppermint.crop.jpg");
}

.card.selected {
  transform: rotateY(180deg);
}